SELECT  adobe_tracking_id,
        DATE("{{ run_day }}")                           AS day,
        num_daily_sessions                              AS num_daily_sessions_all_time,
        num_consumption_type_shortform_seconds          AS num_consumption_type_shortform_seconds_all_time,
        num_consumption_type_vc_seconds                 AS num_consumption_type_vc_seconds_all_time,
        num_consumption_type_vod_seconds                AS num_consumption_type_vod_seconds_all_time,
        num_consumption_type_live_seconds               AS num_consumption_type_live_seconds_all_time,
        num_consumption_type_other_seconds              AS num_consumption_type_other_seconds_all_time,
        num_vdo_exp_channels_seconds                    AS num_vdo_exp_channels_seconds_all_time,
        num_vdo_exp_spotlight_seconds                   AS num_vdo_exp_spotlight_seconds_all_time,
        num_vdo_exp_hero_seconds                        AS num_vdo_exp_hero_seconds_all_time,
        num_vdo_exp_pdp_seconds                         AS num_vdo_exp_pdp_seconds_all_time,
        num_vdo_init_manual_seconds                     AS num_vdo_init_manual_seconds_all_time,
        num_vdo_init_continuous_seconds                 AS num_vdo_init_continuous_seconds_all_time,
        num_vdo_init_autoplay_seconds                   AS num_vdo_init_autoplay_seconds_all_time,
        small_screen_seconds                            AS small_screen_seconds_all_time,
        large_screen_seconds                            AS large_screen_seconds_all_time,
        android_device_seconds_played                   AS android_device_seconds_played_all_time,
        androidtv_device_seconds_played                 AS androidtv_device_seconds_played_all_time,
        chromecast_device_seconds_played                AS chromecast_device_seconds_played_all_time,
        cox_device_seconds_played                       AS cox_device_seconds_played_all_time,
        firetv_device_seconds_played                    AS firetv_device_seconds_played_all_time,
        ios_device_seconds_played                       AS ios_device_seconds_played_all_time,
        lg_device_seconds_played                        AS lg_device_seconds_played_all_time,
        playstation_device_seconds_played               AS playstation_device_seconds_played_all_time,
        roku_device_seconds_played                      AS roku_device_seconds_played_all_time,
        samsung_device_seconds_played                   AS samsung_device_seconds_played_all_time,
        tvos_device_seconds_played                      AS tvos_device_seconds_played_all_time,
        vidaa_device_seconds_played                     AS vidaa_device_seconds_played_all_time,
        vizio_device_seconds_played                     AS vizio_device_seconds_played_all_time,
        web_device_seconds_played                       AS web_device_seconds_played_all_time,
        xbox_device_seconds_played                      AS xbox_device_seconds_played_all_time,
        xclass_device_seconds_played                    AS xclass_device_seconds_played_all_time,
        xfinity_x1_device_seconds_played                AS xfinity_x1_device_seconds_played_all_time,
        action_adventure_genre_seconds_played           AS action_adventure_genre_seconds_played_all_time,
        comedy_genre_seconds_played                     AS comedy_genre_seconds_played_all_time,
        crime_genre_seconds_played                      AS crime_genre_seconds_played_all_time,
        documentary_genre_seconds_played                AS documentary_genre_seconds_played_all_time,
        drama_genre_seconds_played                      AS drama_genre_seconds_played_all_time,
        horror_genre_seconds_played                     AS horror_genre_seconds_played_all_time,
        kids_genre_seconds_played                       AS kids_genre_seconds_played_all_time,
        mystery_suspense_genre_seconds_played           AS mystery_suspense_genre_seconds_played_all_time,
        na_genre_seconds_played                         AS na_genre_seconds_played_all_time,
        news_genre_seconds_played                       AS news_genre_seconds_played_all_time,
        reality_genre_seconds_played                    AS reality_genre_seconds_played_all_time,
        sci_fi_fantasy_genre_seconds_played             AS sci_fi_fantasy_genre_seconds_played_all_time,
        thriller_genre_seconds_played                   AS thriller_genre_seconds_played_all_time,
        tv_genre_seconds_played                         AS tv_genre_seconds_played_all_time,
        wwe_genre_seconds_played                        AS wwe_genre_seconds_played_all_time,
        usa_track_field_genre_seconds_played            AS usa_track_field_genre_seconds_played_all_time,
        sneak_peek_genre_seconds_played                 AS sneak_peak_genre_seconds_played_all_time,
        ski_jumping_genre_seconds_played                AS ski_jumping_genre_seconds_played_all_time,
        world_rugby_seven_genre_seconds_played          AS world_rugby_seven_genre_seconds_played_all_time,
        winter_sports_genre_seconds_played              AS winter_sports_genre_seconds_played_all_time,
        imsa_genre_seconds_played                       AS imsa_genre_seconds_played_all_time,
        romance_genre_seconds_played                    AS romance_genre_seconds_played_all_time,
        tvg_genre_seconds_played                        AS tvg_genre_seconds_played_all_time,
        bobsledding_genre_seconds_played                AS bobsledding_genre_seconds_played_all_time,
        lifestyle_genre_seconds_played                  AS lifestyle_genre_seconds_played_all_time,
        indy_500_genre_seconds_played                   AS indy_500_genre_seconds_played_all_time,
        para_alpine_skiing_genre_seconds_played         AS para_alpine_skiing_genre_seconds_played_all_time,
        sports_genre_seconds_played                     AS sports_genre_seconds_played_all_time,
        football_genre_seconds_played                   AS football_genre_seconds_played_all_time,
        mlb_genre_seconds_played                        AS mlb_genre_seconds_played_all_time,
        gymnastics_genre_seconds_played                 AS gymnastics_genre_seconds_played_all_time,
        horse_racing_genre_seconds_played               AS horse_racing_genre_seconds_played_all_time,
        movies_genre_seconds_played                     AS movies_genre_seconds_played_all_time,
        international_genre_seconds_played              AS international_genre_seconds_played_all_time,
        game_show_genre_seconds_played                  AS game_show_genre_seconds_played_all_time,
        the_soccer_tournament_genre_seconds_played      AS the_soccer_tournament_genre_seconds_played_all_time,
        mystery_genre_seconds_played                    AS mystery_genre_seconds_played_all_time,
        holiday_genre_seconds_played                    AS holiday_genre_seconds_played_all_time,
        rugby_world_cup_genre_seconds_played            AS rugby_world_cup_genre_seconds_played_all_time,
        wrestling_genre_seconds_played                  AS wrestling_genre_seconds_played_all_time,
        premier_league_genre_seconds_played             AS premier_league_genre_seconds_played_all_time,
        ice_skating_genre_seconds_played                AS ice_skating_genre_seconds_played_all_time,
        track_field_genre_seconds_played                AS track_field_genre_seconds_played_all_time,
        speed_skating_genre_seconds_played              AS speed_skating_genre_seconds_played_all_time,
        military_war_genre_seconds_played               AS military_war_genre_seconds_played_all_time,
        musical_genre_seconds_played                    AS musical_genre_seconds_played_all_time,
        unknown_genre_seconds_played                    AS unknown_genre_seconds_played_all_time,
        short_track_genre_seconds_played                AS short_track_genre_seconds_played_all_time,
        comedy_drama_genre_seconds_played               AS comedy_drama_genre_seconds_played_all_time,
        nfl_genre_seconds_played                        AS nfl_genre_seconds_played_all_time,
        tennis_genre_seconds_played                     AS tennis_genre_seconds_played_all_time,
        ecw_genre_seconds_played                        AS ecw_genre_seconds_played_all_time,
        live_205_genre_seconds_played                   AS live_205_genre_seconds_played_all_time,
        latest_episode_genre_seconds_played             AS latest_episode_genre_seconds_played_all_time,
        cross_country_skiing_genre_seconds_played       AS cross_country_genre_seconds_played_all_time,
        motor_sports_genre_seconds_played               AS motor_sports_genre_seconds_played_all_time,
        raw_genre_seconds_played                        AS raw_genre_seconds_played_all_time,
        nxt_uk_genre_seconds_played                     AS nxt_uk_genre_seconds_played_all_time,
        curling_genre_seconds_played                    AS curling_genre_seconds_played_all_time,
        diamond_league_genre_seconds_played             AS diamond_league_genre_seconds_played_all_time,
        ncaa_genre_seconds_played                       AS ncaa_genre_seconds_played_all_time,
        auto_racing_genre_seconds_played                AS auto_racing_genre_seconds_played_all_time,
        adventure_genre_seconds_played                  AS adventure_genre_seconds_played_all_time,
        wcw_genre_seconds_played                        AS wcw_genre_seconds_played_all_time,
        competition_genre_seconds_played                AS competition_genre_seconds_played_all_time,
        martial_arts_genre_seconds_played               AS martial_arts_genre_seconds_played_all_time,
        indy_nxt_genre_seconds_played                   AS indy_nxt_genre_seconds_played_all_time,
        sled_hockey_genre_seconds_played                AS sled_hockey_genre_seconds_played_all_time,
        indy_lights_genre_seconds_played                AS indy_lights_genre_seconds_played_all_time,
        talk_genre_seconds_played                       AS talk_genre_seconds_played_all_time,
        figure_skating_genre_seconds_played             AS figure_skating_genre_seconds_played_all_time,
        pro_wrestling_genre_seconds_played              AS pro_wrestling_genre_seconds_played_all_time,
        skeleton_genre_seconds_played                   AS skeleton_genre_seconds_played_all_time,
        nature_genre_seconds_played                     AS nature_genre_seconds_played_all_time,
        hockey_genre_seconds_played                     AS hockey_genre_seconds_played_all_time,
        golf_genre_seconds_played                       AS golf_genre_seconds_played_all_time,
        music_genre_seconds_played                      AS music_genre_seconds_played_all_time,
        supercross_genre_seconds_played                 AS supercross_genre_seconds_played_all_time,
        travel_genre_seconds_played                     AS travel_genre_seconds_played_all_time,
        luge_genre_seconds_played                       AS luge_genre_seconds_played_all_time,
        weightlifting_genre_seconds_played              AS weightlifting_genre_seconds_played_all_time,
        biathlon_genre_seconds_played                   AS biathlon_genre_seconds_played_all_time,
        pro_motocross_genre_seconds_played              AS pro_motocross_genre_seconds_played_all_time,
        college_hockey_genre_seconds_played             AS college_hockey_genre_seconds_played_all_time,
        tv14_genre_seconds_played                       AS tv14_genre_seconds_played_all_time,
        variety_genre_seconds_played                    AS variety_genre_seconds_played_all_time,
        anime_genre_seconds_played                      AS anime_genre_seconds_played_all_time,
        cycling_genre_seconds_played                    AS cycling_genre_seconds_played_all_time,
        food_genre_seconds_played                       AS food_genre_seconds_played_all_time,
        baseball_genre_seconds_played                   AS baseball_genre_seconds_played_all_time,
        entertainment_genre_seconds_played              AS entertainment_genre_seconds_played_all_time,
        six_nations_genre_seconds_played                AS six_nations_genre_seconds_played_all_time,
        health_fitness_genre_seconds_played             AS health_fitness_genre_seconds_played_all_time,
        swimming_genre_seconds_played                   AS swimming_genre_seconds_played_all_time,
        game_show_contest_genre_seconds_played          AS game_show_contest_genre_seconds_played_all_time,
        nxt_genre_seconds_played                        AS nxt_genre_seconds_played_all_time,
        business_finance_genre_seconds_played           AS business_finance_genre_seconds_played_all_time,
        cartoon_animation_genre_seconds_played          AS cartoon_animation_genre_seconds_played_all_time,
        premiership_rugby_genre_seconds_played          AS premiership_rugby_genre_seconds_played_all_time,
        fantasy_genre_seconds_played                    AS fantasy_genre_seconds_played_all_time,
        animation_genre_seconds_played                  AS animation_genre_seconds_played_all_time,
        science_technology_genre_seconds_played         AS science_technology_genre_seconds_played_all_time,
        action_genre_seconds_played                     AS action_genre_seconds_played_all_time,
        ceremony_genre_seconds_played                   AS ceremony_genre_seconds_played_all_time,
        snowboarding_genre_seconds_played               AS snowboarding_genre_seconds_played_all_time,
        history_biography_genre_seconds_played          AS history_biography_genre_seconds_played_all_time,
        basketball_genre_seconds_played                 AS basketball_genre_seconds_played_all_time,
        stand_up_comedy_genre_seconds_played            AS stand_up_comedy_genre_seconds_played_all_time,
        soccer_genre_seconds_played                     AS soccer_genre_seconds_played_all_time,
        nitro_rallycross_genre_seconds_played           AS nitro_rallycross_genre_seconds_played_all_time,
        weathertech_series_genre_seconds_played         AS weathertech_series_genre_seconds_played_all_time,
        boxing_genre_seconds_played                     AS boxing_genre_seconds_played_all_time,
        para_biathlon_genre_seconds_played              AS para_biathlon_genre_seconds_played_all_time,
        today_genre_seconds_played                      AS today_genre_seconds_played_all_time,
        wheelchair_curling_genre_seconds_played         AS wheelchair_curling_genre_seconds_played_all_time,
        olympics_genre_seconds_played                   AS olympics_genre_seconds_played_all_time,
        freestyle_skiing_genre_seconds_played           AS freestyle_skiing_genre_seconds_played_all_time,
        pga_genre_seconds_played                        AS pga_genre_seconds_played_all_time,
        world_athletics_genre_seconds_played            AS world_athletics_genre_seconds_played_all_time,
        western_genre_seconds_played                    AS western_genre_seconds_played_all_time,
        ice_hockey_genre_seconds_played                 AS ice_hockey_genre_seconds_played_all_time,
        religion_genre_seconds_played                   AS religion_genre_seconds_played_all_time,
        para_snowboarding_genre_seconds_played          AS para_snowboarding_genre_seconds_played_all_time,
        rugby_genre_seconds_played                      AS rugby_genre_seconds_played_all_time,
        ntt_indycar_series_genre_seconds_played         AS ntt_indycar_series_genre_seconds_played_all_time,
        smackdown_genre_seconds_played                  AS smackdown_genre_seconds_played_all_time,
        extreme_sports_genre_seconds_played             AS extreme_sports_genre_seconds_played_all_time,
        sci_fi_genre_seconds_played                     AS sci_fi_genre_seconds_played_all_time,
        animals_genre_seconds_played                    AS animals_genre_seconds_played_all_time,
        nordic_combined_genre_seconds_played            AS nordic_combined_genre_seconds_played_all_time,
        nascar_genre_seconds_played                     AS nascar_genre_seconds_played_all_time,
        tvpg_genre_seconds_played                       AS tvpg_genre_seconds_played_all_time,
        alpine_skiing_genre_seconds_played              AS alpine_skiing_genre_seconds_played_all_time,
        para_cc_skiing_genre_seconds_played             AS para_cc_genre_seconds_played_all_time,
        college_football_genre_seconds_played           AS college_football_genre_seconds_played_all_time,
        indycar_genre_seconds_played                    AS indycar_genre_seconds_played_all_time,
        usfl_genre_seconds_played                       AS usfl_genre_seconds_played_all_time,
        paralympic_genre_seconds_played                 AS paralympic_genre_seconds_played_all_time,
        num_views_completed                             AS num_views_completed_all_time,
        num_views_reached_perc_25_perc                  AS num_views_reached_perc_25_perc_all_time,
        num_views_reached_perc_50_perc                  AS num_views_reached_perc_50_perc_all_time,
        num_views_reached_perc_75_perc                  AS num_views_reached_perc_75_perc_all_time,
        num_views_started                               AS num_views_started_all_time
FROM `{{ algo_project }}.algo_features.silver_video_daily_rollup`
WHERE day = "{{ run_day }}"
